@font-face {
  font-family: "proxima nova";
  src: url("../../dist/fonts/proximanovalight.ttf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "proxima nova";
  src: url("../../dist/fonts/ProximaNovaRegular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "proxima nova";
  src: url("../../dist/fonts/ProximaNovaBold.otf");
  font-style: normal;
  font-weight: 700;
}
