$default-color: #1b1740;
$copy-text-color: #4f5b60;

$link-color: #615b9b;
$hover-color: #766cdc;

$medical-color: #73ba9d;
$engineering-color: #6baac1;
$personnel-color: #6b83c1;

$color-white: #fff;
$color-dark: #000;

$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;

$font-size-1: 2.2rem;
$font-size-2: 1.9rem;
$font-size-3: 3.2rem;
