$home-primary-light: #584ea4;
$home-primary: #4a3582;
$home-primary-dark: #30246c;

$text-color: #1b1740;

$link-color: #615b9b;
$hover-color: #766cdc;

$medical-color: #73ba9d;
$engineering-color: #6baac1;
$personnel-color: #6b83c1;

$color-white: #fff;
$color-dark: #000;

$grid-width: 114rem;
$twitter-width: 110rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;

$default-font-size: 1.5rem;
$second-font-size: 1.74rem;
