.btn {
  font-family: "proxima nova";
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;

  &-search {
    &:link,
    &:visited {
      padding: 2rem 2.5rem;
      border: 1px solid $hover-color;
      color: $color-white;
      font-size: $font-size-1;
      margin-left: 2rem;
    }
  }
  &-white {
    padding: 2rem 2.5rem;
    font-size: $font-size-1;
    color: $color-white;
    border: 2px solid $color-white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &-normal {
    color: $link-color;
    font-size: 1.8rem;
    text-transform: uppercase;
    // letter-spacing: 1px;
    transition: all 0.3s;
    &:not(:last-of-type) {
      margin-right: 3rem;
    }
    &:hover {
      color: $hover-color;
    }
  }
}
