.feature {
  width: 33.3%;
  height: 63rem;
  color: $color-white;
  padding: 9rem 6rem 6rem 6rem;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  @include respond(desktop) {
    // height: 67rem;
    padding: 7rem 4rem 4rem 4rem;
  }
  @include respond(tab-land) {
    height: 50rem;
    padding: 5rem 3rem 3rem 3rem;
  }
  @include respond(tab-port) {
    width: 100%;
    padding: 7rem 4rem;
    height: 57rem;
  }
  &__text {
    font-size: $font-size-3;
    font-weight: 100;
    line-height: 1.3;
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 4rem;
    }
  }
  &__img {
    display: inline-block;
    height: 20rem;
    position: absolute;
    right: -5%;
    bottom: 3%;
    filter: invert(85%);
    opacity: 0.3;
    @include respond(desktop) {
      height: 17rem;
    }
    @include respond(tab-land) {
      height: 15rem;
    }
    @include respond(tab-port) {
      height: 20rem;
      right: 0;
    }
  }
  &__btn {
    position: absolute;
    bottom: 7%;
    transition: all 0.3s;
    &:hover {
      background-color: $color-white;
      color: $hover-color;
    }
  }
  &-medical {
    background-color: $medical-color;
  }
  &-engineering {
    background-color: $engineering-color;
  }
  &-consulting {
    background-color: $personnel-color;
  }
}
