.input {
  padding: 2rem 3.5rem;
  width: 100%;
  font-size: $font-size-1;
  font-weight: 700;
  &::-webkit-input-placeholder {
    font-family: "proxima nova";
    font-weight: 700;
    color: $default-color;
    font-size: $font-size-1;
  }
  &-abnormal {
    appearance: none;
    display: inline-block;
    height: 100%;
  }
}
