.input {
  padding: 2rem 3.5rem;
  width: 100%;
  font-size: $font-size-1;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  &::-webkit-input-placeholder {
    font-family: "proxima nova";
    font-weight: 700;
    color: $default-color;
    font-size: $font-size-1;
  }
  &:focus {
    outline: none;
  }
  &-abnormal {
    appearance: none;
    display: inline-block;
    border-radius: 5px;
    height: 100%;
    font-weight: 700;
  }
}
.select {
  position: relative;
  &::after {
    content: "< >";
    transform: rotate(90deg);
    font-family: "proxima nova";
    font-weight: 700;
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 20%;
    font-size: $font-size-1;
  }
}
