.role {
  margin-top: 7rem;
  background-color: $color-white;
  padding: 2rem 2.5rem;
  height: 46rem;
  border-radius: 1rem;
  position: relative;
  @include respond(tab-port) {
    padding: 2.5rem 4.5rem;
  }
  &:not(:first-of-type) {
    @include respond(tab-port) {
      display: none;
    }
  }
  .heading-penta {
    margin-bottom: 4.5rem;
  }
  &__meta {
    font-weight: 700;
    opacity: 0.8;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    @include respond(tab-port) {
      font-size: $font-size-4;
    }
  }
  &__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
    @include respond(tab-port) {
      font-size: $font-size-4;
    }
  }
}
