.section-search {
  padding: 10rem 0;
  background-image: linear-gradient(120deg, #50499b, #4d3786, #20185f);
  text-align: center;
  position: relative;
  overflow: hidden;
  &__img {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -40%;
    opacity: 0.35;
    filter: invert(-80%);
  }
}
.section-feature {
  display: flex;
}
.section-role {
  background-color: #f5f4fc;
  padding: 8rem 0;
  position: relative;
  &__img {
    position: absolute;
    width: 39rem;
    left: 0;
    top: 5%;
    opacity: 0.6;
  }
}
.section-group {
  height: 87rem;
  position: relative;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .heading-primary {
    line-height: 1;
    margin-bottom: 4rem;
  }
  .group {
    background-color: $link-color;
    width: 45vw;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75rem;
    padding: 7rem 8rem;
  }
  .copy-text {
    color: $color-white;
  }
}
.section-refer {
  padding: 12.5rem;
  .copy-text {
    color: #4f5b60;
  }
  .heading-secondary {
    margin-bottom: 3rem;
  }
  a {
    margin-left: 0 !important;
  }
  .refer__img {
    height: 47rem;
    width: 100%;
    object-fit: cover;
  }
}
